# CMake artifacts
/build*/
*_autogen/

# Visual Studio (Code) / CLion
.localhistory/
.history/
.vscode/
.vs/
.idea
/out/
CmakeSettings.json
*.code-workspace

# clangd's index
.cache/

# macOS General
.DS_Store
.AppleDouble
.LSOverride

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Windows folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares (Windows)
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# CMake
Makefile*
*build-*
CMakeLists.txt.user*
compile_commands.json
compile_flags.txt
